/* ChatPage.css */

/* General Layout */
.chat-page {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--light-bg-color);
  transition: background-color 0.3s;
}

.layout.dark-mode .chat-page {
  background-color: var(--dark-bg-color);
}

/* Chat List */
.chat-list {
  width: 20vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--primary-color);
}

.chat-item {
  padding: 8px;
  display: flex;
  cursor: pointer;
  background-color: var(--light-bg-color);
  transition: background-color 0.3s, color 1s;
}

.chat-item:hover {
  background-color: var(--primary-color-light);
}

.layout.dark-mode .chat-item {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

/* Profile Image and Name */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-name {
  color: var(--text-color);
}

.layout.dark-mode .chat-name {
  color: var(--dark-text-color);
}

.last-message {
  color: #555;
  font-size: 0.9em;
}

.unread-count {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.8em;
  padding: 3px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 10px;
}

/* Chat Popup Area */
.chat-popup {
  display: flex;
  flex-direction: column;
  width: 56.5vw;
  height: 100%;
  background-color: var(--light-bg-color);
  border-left: 1px solid var(--primary-color);
  transition: background-color 0.3s;
}

.layout.dark-mode .chat-popup {
  background-color: var(--dark-bg-color);
}

/* Chat Header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--light-bg-color);
}

.layout.dark-mode .chat-header {
  background-color: var(--dark-bg-color);
}

.chat-header img {
  cursor: pointer;
}

/* Chat Messages */
.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 15px;
  margin: 8px 0;
  max-width: 70%;
}

.sent {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 12px 12px 3px 3px;
}

.received {
  align-self: flex-start;
  background-color: rgb(163, 159, 159);
  color: #333;
  border-radius: 3px 3px 12px 12px;
}

/* Close Chat Button */
.close-chat {
  width: 20px;
  cursor: pointer;
}

/* Chat Input Section */
.chat-input {
  position: fixed;
  bottom: 0;
  width: 56.5%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--light-bg-color);
  z-index: 10;
}

.layout.dark-mode .chat-input {
  background-color: var(--dark-bg-color);
}

.message-box {
  flex: 1;
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  resize: none;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  background-color: var(--search-bg-color);
  overflow-y: auto;
  min-height: 40px; /* Minimum height for the text area */
  max-height: 120px; /* Maximum height to stop expanding */
  scrollbar-width: none;
}

.message-box::placeholder {
  color: var(--light-text-color);
}

.layout.dark-mode .message-box {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s;
}

.send-button img {
  width: 24px;
  height: 24px;
}

.send-button:hover {
  transform: scale(1.1);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .chat-list {
    width: 100%;
    border-right: none;
  }

  .chat-popup {
    width: 100%;
    border-left: none;
    position: fixed;
    bottom: 0;
    top: 10px;
    left: 0;
    padding-top: 50px; /* Adds space for header */
  }

  .chat-header {
    padding: 15px;
  }

  .chat-messages {
    padding: 10px;
  }

  .message {
    padding: 5px 10px;
    font-size: 14px;
  }

  .chat-input {
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .message-box {
    padding: 8px 12px;
    font-size: 14px;
  }

  .send-button img {
    width: 20px;
    height: 20px;
  }

  .chat-input {
    bottom: 50px;
  }
}
